build/
.ropeproject/
*.swp
*.map
*.so
*.egg-info
.eggs
_trial_temp
test/a.out
test/dump.map
test/run.sh
test/set.map
test/set_1M.map
test/simple.map
test/special_a.map
test/special_b.map
test/special_c.map
test/special_d.map
test/test.map
test/tuple.map
test/very_simple.map
