---

jobs:
  include:
    - name: Unit Tests 3.6
      language: python
      os: linux
      dist: focal
      python:
        - '3.6'
      env:
        - RUNTESTS=1
    - name: Unit Tests 3.7
      language: python
      os: linux
      dist: focal
      python:
        - '3.7'
      env:
        - RUNTESTS=1
    - name: Unit Tests 3.8
      language: python
      os: linux
      dist: focal
      python:
        - '3.8'
      env:
        - RUNTESTS=1
    - name: Unit Tests 3.9
      language: python
      os: linux
      dist: focal
      python:
        - '3.9'
      env:
        - RUNTESTS=1
    - name: Unit Tests 3.10
      language: python
      os: linux
      dist: focal
      python:
        - '3.10'
      env:
        - RUNTESTS=1
    - name: Build and Upload Linux Wheels and sdist
      os: linux
      dist: focal
      language: python
      python:
        - '3.7'
      env:
        - RUNTESTS=0
    - name: Build and Upload MacOS 10.15 Wheels
      os: osx
      osx_image: xcode12.2
      language: c
      env:
        - RUNTESTS=0
      cache:
        directories:
          - $HOME/.pyenv/versions/3.6.15
          - $HOME/.pyenv/versions/3.7.12
          - $HOME/.pyenv/versions/3.8.12
          - $HOME/.pyenv/versions/3.9.7
          - $HOME/.pyenv/versions/3.10.0
    - name: Build and Upload MacOS 10.14 Wheels
      os: osx
      osx_image: xcode11.3
      language: c
      env:
        - RUNTESTS=0
      cache:
        directories:
          - $HOME/.pyenv/versions/3.6.15
          - $HOME/.pyenv/versions/3.7.12
          - $HOME/.pyenv/versions/3.8.12
          - $HOME/.pyenv/versions/3.9.7
          - $HOME/.pyenv/versions/3.10.0
    - name: Build and Upload MacOS 10.13 Wheels
      os: osx
      osx_image: xcode10.1
      env:
        - RUNTESTS=0
      cache:
        directories:
          - $HOME/.pyenv/versions/3.6.15
          - $HOME/.pyenv/versions/3.7.12
          - $HOME/.pyenv/versions/3.8.12
          - $HOME/.pyenv/versions/3.9.7
          - $HOME/.pyenv/versions/3.10.0
install:
  - if [[ "$RUNTESTS" == "1" ]]; then python3 -m pip install -U pip;            fi
  - if [[ "$RUNTESTS" == "1" ]]; then pip3 install -r test-requirements.txt;    fi

  - if [[ "$RUNTESTS" == "1" ]]; then ./build_judy.sh;                          fi
  - if [[ "$RUNTESTS" == "1" ]]; then (cd tests && ./compile.sh);               fi
  - if [[ "$RUNTESTS" == "1" ]]; then python setup.py install;                  fi
script:
  - if [[ "$RUNTESTS" == "1" ]]; then (cd tests && ./a.out --unit-test-32);     fi
  - if [[ "$RUNTESTS" == "1" ]]; then (cd tests && ./a.out --unit-test-64);     fi
  - if [[ "$RUNTESTS" == "1" ]]; then PYTHONPATH=$(pwd) python -m twisted.trial tests.python_api; fi

  - if [[ "$RUNTESTS" == "0" && "$TRAVIS_OS_NAME" == "linux" ]]; then ./build-manylinux.sh || travis_terminate 1; fi
  - if [[ "$RUNTESTS" == "0" && "$TRAVIS_OS_NAME" == "linux" ]]; then ./build-sdist.sh     || travis_terminate 1; fi
  - if [[ "$RUNTESTS" == "0" && "$TRAVIS_OS_NAME" == "osx"   ]]; then ./build-macos.sh     || travis_terminate 1; fi

  - |
    if [[ "$RUNTESTS" == "0" ]]; then
      ls -l ./wheelhouse
      if [[ "$TRAVIS_PULL_REQUEST" == "false" ]]; then
        if [[ "$TRAVIS_BRANCH" == "master" ]]; then
          set -e
          pip3 install twine
          python3 -m twine upload --non-interactive --skip-existing -u __token__ ./wheelhouse/*
        fi
      fi
    fi
