---

name: Python Packaging
on:
  workflow_run:
    workflows: ['Validate']
    types:
      - completed

jobs:
  install:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-12, ubuntu-latest]
        python-version: ['3.11']

    steps:
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: git checkout
        uses: actions/checkout@v3
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
          submodules: true

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==2.12.0

      - name: Build wheels
        run: cibuildwheel --config-file pyproject.toml --output-dir wheelhouse

      - name: Build sdist
        run: ./build-sdist.sh

      - name: List wheels
        run: ls -l ./wheelhouse

      - name: Upload
        if: github.ref == 'refs/heads/master'
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          pip install twine
          twine upload --verbose --skip-existing wheelhouse/*
