name: Pip

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    name: Build with Pip
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, macos-15-intel, macos-26]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v5
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
          submodules: true

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Show Config
        run: |
          gcc --version

      - name: Build and install
        run: |
          ./build_judy.sh
          python -m pip install twisted
          pip install --verbose .
          (cd tests && ./compile.sh)

      - name: Test
        run: |
          (cd tests && ./a.out --unit-test)
          PYTHONPATH=$(pwd) python -m twisted.trial tests.python_api
