---

name: Validate
on: push

jobs:
  validate:
    name: Syntax check all code in repository
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11.0-rc.1']

    steps:
      - uses: actions/checkout@v3
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
          submodules: true

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Test
        run: |
          python3 -m pip install -U pip
          pip3 install -r test-requirements.txt

          ./build_judy.sh
          (cd tests && ./compile.sh)
          python setup.py install

          (cd tests && ./a.out --unit-test-32)
          (cd tests && ./a.out --unit-test-64)
          PYTHONPATH=$(pwd) python -m twisted.trial tests.python_api
